<header class="header">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img class="header-logo" src="../../assets/logo.png" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="staticBackdropLabel">Menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close" style="color: red;"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            <ul class="offcanvas-list">
              <li class="offcanves-list-item">Home</li>
              <li class="offcanves-list-item">Sobre me</li>
              <li class="offcanves-list-item">Experience</li>
            </ul>
            <ul class="offcanves-links">
              <li class="offcanves-links-item"> <a href="https://wa.me/+5511984949476"><img class="icon" src="../../assets/icons/whatsapp-white.svg" alt="whatsapp"></a></li>
              <li class="offcanves-links-item"><a href="https://www.instagram.com/the_mohemara/"><img class="icon" src="../../assets/icons/instagram-light.svg" alt="instagram"></a></li>
              <li class="offcanves-links-item"><a href="https://www.linkedin.com/in/moh-emara/"><img class="icon" src="../../assets/icons/linkedin-light.svg" alt="linkedin"></a></li>
              <li class="offcanves-links-item"><a href="https://github.com/MohAdelEmara"><img class="icon" src="../../assets/icons/github-light.svg" alt="github"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

