<footer class="footer">
  <section class="footer-invitation">
    <div class="footer-invitation-container">
      <h5 class="footer-invitation-title">Falar, nos devemos</h5>
      <p class="footer-text">Eu acredito no poder das palavras que posso transformar em código, mas por agora, que tal uma xícara de café</p>
      <div class="footer-buttons">
      <a href="https://wa.me/+5511984949476"><button type="button" class="btn footer-button">whatsapp</button></a>
      <a href="https://wa.me/+5511984949476"><button type="button" class="btn footer-button">Meu CV</button></a>
      </div>
    </div>
  </section>

  <section class="footer-media-container">
    <div class="footer-media-links">
      <h3 class="footer-title">Living, learning, &amp; leveling up one day at a time.</h3>
      <div class="footer-icons">
       <a href="https://wa.me/+5511984949476"><img class="icon" src="../../assets/icons/whatsapp.svg" alt="whatsapp"></a>
       <a href="https://www.instagram.com/the_mohemara/"><img class="icon" src="../../assets/icons/instagram.svg" alt="instagram"></a>
       <a href="https://www.linkedin.com/in/moh-emara/"><img class="icon" src="../../assets/icons/linkedin.svg" alt="linkedin"></a>
       <a href="https://github.com/MohAdelEmara"><img class="icon" src="../../assets/icons/github.svg" alt="github"></a>
      </div>
      <h6>&copy; created by Mohamed Emara</h6>
    </div>
  </section>
</footer>
