<div class="main">
  <section class="main-title">
    <h1> fullstack em quatro linguas </h1>
    <p>Me chamam de Mo, como em 'Mo-tivado pela Força, codificando como um Jedi </p>
  </section>
  <section class="main-img">
    <img src="../../assets/AvatarMaker.png" alt="avatar me">
  </section>
  <section class="main-text">
    <p>
      Sou egípcio-americano e atuo como desenvolvedor de backend há 6 anos,
      sendo 2 anos como desenvolvedor full stack. Trabalhei como PJ e CLT em diversas empresas,
      incluindo BMW, SWIFT JBS, PORTO BANK e SANTANDER.  Além disso, falo fluentemente 4 idiomas e atuo como tutor de inglês nas horas vagas.
    </p>
  </section>
</div>
