<header class="header">
  <nav class="navbar">
   <img class="header-logo" src="../../assets/logo.png" alt="my logo">
    <ul class="nromal-navbar-nav">
      <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/about">About Me</a></li>
      <li class="nav-item"><a class="nav-link" href="/experience">Experience</a></li>
      <li class="nav-item"><a class="nav-link" href="https://drive.google.com/file/d/1ZB2LP7U4Rz33G5m781F34_vrUgfAVFEC/view?usp=drive_link" target="_blank">Download My CV</a></li>
    </ul>
    <div class="header-icons">
      <a target="_blank" href="https://wa.me/+5511984949476"><img class="icon" src="../../assets/icons/whatsapp-white.svg" alt="whatsapp"></a>
      <a target="_blank" href="https://www.instagram.com/the_mohemara/"><img class="icon" src="../../assets/icons/instagram-light.svg" alt="instagram"></a>
      <a target="_blank" href="https://www.linkedin.com/in/moh-emara/"><img class="icon" src="../../assets/icons/linkedin-light.svg" alt="linkedin"></a>
      <a target="_blank" href="https://github.com/MohAdelEmara"><img class="icon" src="../../assets/icons/github-light.svg" alt="github"></a>
     </div>
  </nav>
</header>
