@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.cdnfonts.com/css/star-wars');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --starwars-font: 'star wars';
  --yellow: #FADE4B;
  --gray: #1D1E1F;
  --light-gray: #45474A;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image:  linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../src/assets/jake-weirick-Q_RBVFFXR_g-unsplash.jpg'); /* Dark space background */
  background-size: cover;
  color: rgb(225, 225, 225);
  font-family: var(--primary-font);
}

h1, h2{
  font-family: var(--starwars-font);
}

p {
  font-size: 1.35rem;
  font-weight: lighter;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
